<a href="https://colab.research.google.com/github/shreyasnarke/DataAnalytics/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read The dataset

In [3]:
import pandas as pd
import numpy as np
#Load a real-world dataset
df=pd.read_csv("/education.csv")
print(df)

     datasrno  workex  gmat
0           1      21   720
1           2     107   640
2           3      57   740
3           4      99   690
4           5     208   710
..        ...     ...   ...
768       769      88   620
769       770     132   670
770       771      28   610
771       772      10   610
772       773      52   620

[773 rows x 3 columns]